@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  --color-white: #fce;
  --color-black: #101;
  color: var(--color-white);
  background-color: var(--color-black);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 320px;
}
